# Adding the required imports

In [11]:
import pandas as pd

# Load the dataset

In [12]:
df = pd.read_csv("../data/2022_Q1_OR_Utilization.csv")
df.head()

,index,Encounter ID,Date,OR Suite,Service,CPT Code,CPT Description,Booked Time (min),OR Schedule,Wheels In,Start Time,End Time,Wheels Out
0,0,10001,01/03/22,1,Podiatry,28110,"Partial ostectomy, fifth metatarsal head",90,01/03/22 07:00 AM,01/03/22 07:05 AM,01/03/22 07:32 AM,01/03/22 09:05 AM,01/03/22 09:17 AM
1,1,10002,01/03/22,1,Podiatry,28055,"Neurectomy, intrinsic musculature of foot",60,01/03/22 08:45 AM,01/03/22 09:48 AM,01/03/22 10:13 AM,01/03/22 11:01 AM,01/03/22 11:12 AM
2,2,10003,01/03/22,1,Podiatry,28297,Lapidus bunionectomy,150,01/03/22 10:00 AM,01/03/22 11:50 AM,01/03/22 12:20 PM,01/03/22 12:42 PM,01/03/22 12:58 PM
3,3,10004,01/03/22,1,Podiatry,28296,Bunionectomy with distal osteotomy,120,01/03/22 12:45 PM,01/03/22 01:29 PM,01/03/22 01:53 PM,01/03/22 02:50 PM,01/03/22 03:02 PM
4,4,10005,01/03/22,2,Orthopedics,27445,"Arthroplasty, knee, hinge prothesis",120,01/03/22 07:00 AM,01/03/22 07:15 AM,01/03/22 07:50 AM,01/03/22 09:38 AM,01/03/22 09:51 AM

In [13]:
# display the columns

In [14]:
df.columns

Index(['index', 'Encounter ID', 'Date', 'OR Suite', 'Service', 'CPT Code',
       'CPT Description', 'Booked Time (min)', 'OR Schedule', 'Wheels In',
       'Start Time', 'End Time', 'Wheels Out'],
      dtype='object')

# Basic cleaning and parsing

# Convert data/time to datetime

In [15]:
for col in ["Date", "Wheels In", "Wheels Out"]:
    df[col] = pd.to_datetime(df[col])

/var/folders/gl/rtk4gdps67v0p982cpbqjhs80000gn/T/ipykernel_5666/935226549.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col])
/var/folders/gl/rtk4gdps67v0p982cpbqjhs80000gn/T/ipykernel_5666/935226549.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col])
/var/folders/gl/rtk4gdps67v0p982cpbqjhs80000gn/T/ipykernel_5666/935226549.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col])

# Target variable actual case duratuon in minutes

In [17]:
df["actual_duration_min"] = (df["Wheels Out"] - df["Wheels In"]).dt.total_seconds() / 60

# Compute overrun minutes based on booked time

In [ ]:
df["overrun_min"] = (df["actual_duration_min"] - df["Booked Time (min)"]).clip(lower=0)

# Compute day of week and case hours

In [21]:
df["day_of_week"] = df["Date"].dt.dayofweek 
df["case_hour"] = df["Wheels In"].dt.hour

In [23]:
df[["Booked Time (min)", "actual_duration_min", "overrun_min"]].describe()

       Booked Time (min)  actual_duration_min  overrun_min
count        2172.000000          2172.000000  2172.000000
mean           77.189227            79.697053     7.123849
std            30.430015            31.822390     8.729881
min            30.000000            19.000000     0.000000
25%            60.000000            62.000000     0.000000
50%            60.000000            73.000000     3.000000
75%            90.000000            96.000000    13.000000
max           180.000000           173.000000    42.000000